{% extends 'dashboard/base.html' %} 
{% load static %}
{% block content %}
<br /><br />
<div class ='jumbotron'> 
      

<div class="container">
<form method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name= "title" value="{{todo.title}}">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <a href = "{% url 'todo' %}"><button type="back" class="btn btn-secondary">Back</button>
</form>
</div>
</div>
 {% endblock content %}